a {
  color: #2fd0dc;
  transition: all 220ms ease-in-out;
}

a:hover {
  color: #b9f6fa;
  text-decoration: none;
}

h5 {
  font-size: 11px;
  font-family: "Rubik", sans-serif;
}

.openSource {
  width: 500px;
  margin: 0 auto;
}
