.change-location {
  margin: 12px 5px 12px 18px;
  background: transparent;
  color: #014491;
  border: 1px solid #014491;
  border-radius: 5px;
  padding: 5px;
}

.search-button {
  margin: 3px;
  padding: 2px 25px;
  color: #014491;
  background: #bceafd;
  border: 1px solid #014491;
  transition: all 220ms ease-in-out;
  border-radius: 5px;
}

.search-button:hover {
  cursor: pointer;
  color: #014491;
  background: #82dbfc;
  border: 1px solid #014491;
}

::placeholder {
  color: #014491;
  padding-left: 3px;
}
