.container {
  background: linear-gradient(135deg, #136a78, #013242);
  border: 2px solid #24aab6;
  border-radius: 6px;
  margin: 60px auto;
  margin-bottom: 3px;
  width: 500px;
  height: 323px;
  font-family: "Rubik", sans-serif;
}

.changeLocation {
  margin: 12px 3px 12px 18px;
  background: transparent;
  color: #2fd0dc;
  border: 1px solid #24aab6;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
}

.searchButton {
  margin: 3px;
  padding: 2px 7px;
  color: #013242;
  background: #24aab6;
  border: 1px solid #013242;
  transition: all 220ms ease-in-out;
  border-radius: 5px;
}

.searchButton:hover {
  cursor: pointer;
  color: #24aab6;
  background: #013242;
  border: 1px solid #24aab6;
}
::placeholder {
  color: #2fd0dc;
  padding-left: 3px;
}
