h1 {
  font-size: 30px;
  margin: auto;
  vertical-align: middle;
  color: #75f0f7;
}

h4 {
  font-size: 15px;
  text-align: center;
  color: #2fd0dc;
  margin-top: 0px;
}

.cityName {
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #074655, #136a78);
  padding: 5px 0 7px;
  margin: 0px 5px 5px 6px;
  border-radius: 5px;
}

.lastUpdate {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  margin-left: 18px;
  color: #2fd0dc;
}

.humidityWind {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  color: #2fd0dc;
}

.weatherIcon {
  text-align: center;
}
