a {
  color: #2fd0dc;
  transition: all 220ms ease-in-out;
}

a:hover {
  color: #b9f6fa;
  text-decoration: none;
}

h3 {
  font-size: 55px;
  text-align: right;
  color: #b9f6fa;
  margin-bottom: 0;
  margin-right: 2px;
}

.changeCelsiusFahrenheit {
  font-size: 20px;
  position: relative;
  top: -30px;
}
