h3 {
  font-size: 55px;
  text-align: right;
  color: #013672;
  margin-bottom: 0;
  margin-right: 2px;
}

h4 {
  font-size: 15px;
  text-align: center;
  color: #014491;
  margin-top: 0px;
}

.tempCF {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.today-day-time {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  margin-left: 18px;
  color: #014491;
}

.humidity-wind {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  color: #014491;
}

.center-icon {
  text-align: center;
  width: 100%;
}

.change-location {
  margin: 12px 5px 12px 18px;
  background: transparent;
  color: #014491;
  border: 1px solid #014491;
  border-radius: 5px;
  padding: 5px;
}

.search-button {
  margin: 3px;
  padding: 2px 12px;
  color: #014491;
  background: #bceafd;
  border: 1px solid #014491;
  transition: all 220ms ease-in-out;
  border-radius: 5px;
}

.search-button:hover {
  cursor: pointer;
  color: #014491;
  background: #82dbfc;
  border: 1px solid #014491;
}

::placeholder {
  color: #014491;
  padding-left: 3px;
}
